{% extends 'base.html.twig' %}

{% block title %}Hello SearchController!{% endblock %}

{% block content %}

    <section class="blog-content-area section-padding-0-100">
        <div class="container">
            <div class="row justify-content-center">

                <div class="single-widget-area mt-0">
                    <form class="search-form" action="/search" method="get">
                        <input type="search" name="search" class="form-control" placeholder="Search..." value="{{ searched_value }}">
                        <button><i class="fa fa-send"></i></button>
                    </form>
                </div>

                <!-- Blog Posts Area -->
                <div class="col-12 col-lg-8">
                    <div class="blog-posts-area">

                        {% for recipie in recipies %}
                            <!-- Single Blog Post -->
                            <div class="single-blog-post d-flex flex-wrap mt-50">
                                <!-- Thumbnail -->
                                <div class="post-thumbnail mb-50">
                                    <a href="recipe.html"><img src="{{ recipie.photo }}" alt=""></a>
                                </div>
                                <!-- Content -->
                                <div class="post-content mb-50">
                                    <p class="post-date">MAY 8, 2018 / foody</p>
                                    <a href="{{ path('recipie', {id: recipie.id}) }}" class="post-title">
                                        <h4>{{ recipie.name }}</h4>
                                    </a>
                                    <p class="post-excerpt">{{ recipie.preparation }}</p>
                                    <a href="{{ path('recipie', {id: recipie.id}) }}" class="read-more-btn">Continue Reading <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                                </div>
                                <!-- Post Curve Line -->
                                <img class="post-curve-line" src="{{ asset('assets/img/core-img/post-curve-line.png') }}" alt="">
                            </div>

                        {% endfor %}

                    </div>

                    <!-- Pager -->
                    <ol class="foode-pager mt-50">
                        <li><a href="#"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Newer</a></li>
                        <li><a href="#">Older <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></li>
                    </ol>
                </div>

            </div>
        </div>
    </section>

{% endblock %}
