{% extends 'base.html.twig' %}

{% block title %}Hello PanelController!{% endblock %}

{% block content %}


    <div class="example-wrapper">

        {% for message in app.flashes('notice') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        {{  form_start(add_recipie_form) }}
        {{  form_end(add_recipie_form) }}

        <h2>Meals List</h2>

        {% for message in app.flashes('deleted') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Preparation</th>
                <th scope="col">Is visible</th>
                <th scope="col">Photo</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>
            </thead>
            <tbody>
            {% for key, meal in meals %}
                <tr>
                    <th scope="row">{{ key+1 }}</th>
                    <td>{{ meal.name }}</td>
                    <td>{{ meal.description }}</td>
                    <td>{{ meal.preparation }}</td>
                    <td>{{ meal.isVisible }}</td>
                    <td>{{ meal.photo }}</td>
                    <td><a href="{{ path('edit_recipie', {id: meal.id}) }}">Edit</a></td>
                    <td><a href="{{ path('delete_recipie', {id: meal.id}) }}">Delete</a></td>
                </tr>
            {% endfor %}

            </tbody>
        </table>


    </div>
{% endblock %}
