{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script>
        jQuery(document).ready(function() {
            $('.js-remove-item').on('click', function(e) {
                e.preventDefault();
                $(this).closest('.js-item-container')
                    .fadeOut()
                    .remove();
            });
            $('.js-add-item').on('click', function(e) {
                var itemWrapper = $(this).closest('.js-item-wrapper');
                e.preventDefault();
                var prototype = itemWrapper.data('prototype');
                var index = itemWrapper.data('index');
                var newForm = prototype.replace(/__name__/g, index);
                itemWrapper.data('index', index + 1);
                $(this).before(newForm);
            });

        });
    </script>
{% endblock %}

{% block title %}Edit Recipie{% endblock %}

{% block content %}

    <section>
        <h2>Edit meal</h2>

        {% for message in app.flashes('notice') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        {% for message in app.flashes('error') %}
            <div class="alert alert-error">
                {{ message }}
            </div>
        {% endfor %}

        {{ form_start(editRecipie) }}

        {{ form_row(editRecipie.name) }}
        {{ form_row(editRecipie.description) }}
        {{ form_row(editRecipie.preparation) }}
        {{ form_row(editRecipie.isVisible) }}
        {{ form_row(editRecipie.photo) }}

        <div class="row js-item-wrapper"
             data-prototype="{{ form_widget(editRecipie.ingredients.vars.prototype)|e('html_attr') }}"
             data-index="{{ editRecipie.ingredients|length }}"
        >
            {% for ingredient in editRecipie.ingredients %}
                <div class="col-xs-4 js-item-container">
                    <a href="#" class="js-remove-item pull-right">
                        <span class="fa fa-close"></span>
                    </a>
                    {{ form_errors(ingredient) }}
                    {{ form_row(ingredient.name) }}
                    {{ form_row(ingredient.measure) }}
                </div>
            {% endfor %}
            <a href="#" class="js-add-item">
                <span class="fa fa-plus-circle"></span>
                Add Another Ingredient
            </a>
        </div>

        <div class="row js-item-wrapper"
             data-prototype="{{ form_widget(editRecipie.tags.vars.prototype)|e('html_attr') }}"
             data-index="{{ editRecipie.tags|length }}"
        >
            {% for tag in editRecipie.tags %}
                <div class="col-xs-4 js-item-container">
                    <a href="#" class="js-remove-item pull-right">
                        <span class="fa fa-close"></span>
                    </a>
                    {{ form_errors(tag) }}
                    {{ form_row(tag) }}
                </div>
            {% endfor %}
            <a href="#" class="js-add-item">
                <span class="fa fa-plus-circle"></span>
                Add Another Tag
            </a>
        </div>

        <div class="row js-item-wrapper"
             data-prototype="{{ form_widget(editRecipie.category.vars.prototype)|e('html_attr') }}"
             data-index="{{ editRecipie.category|length }}"
        >
            {% for category in editRecipie.category %}
                <div class="col-xs-4 js-item-container">
                    <a href="#" class="js-remove-item pull-right">
                        <span class="fa fa-close"></span>
                    </a>
                    {{ form_errors(category) }}
                    {{ form_row(category) }}
                </div>
            {% endfor %}
            <a href="#" class="js-add-item">
                <span class="fa fa-plus-circle"></span>
                Add Another Category
            </a>
        </div>
        {{ form_end(editRecipie) }}

    </section>
{% endblock %}
